/* FORMAT */

.section-1 {
    height: 730px !important;
    padding-top: 130px;
}
.section-2 {
    height: 500px !important;
}
.section-3 {
    height: 530px !important;
}

/* BACKGROUNDS */

#bg-cup {
    background-image: url(../background/bg-cup-lg.jpg);
}
#bg-coffee {
    background-image: url(../background/bg-coffee-lg.jpg);
}#bg-coffee-machine-md {
    padding: 40px 40px 40px 0;
}
#bg-coffee-bag {
    background-image: url(../background/bg-coffee-bag-lg.jpg);
}
.bg-img-2 {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* EMAIL INPUT */

#email-bar input[type='text'] {
    padding-right: 10px;
}
.input-home {
    width: 400px;
    height: 40%;
    font: Merriweather Sans;
    font-size: 15px;
    display: block;
    padding: 10px;
    outline: none;
}

/* CAROUSEL */

#carousel-1 {
    height: 500px;
}
.arrow {
    border: none;
    background-color: #d9a777;
    width: 35px;
}
.carousel-img {
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 100%;
}

/* BUTTONS */

.carousel button:hover {
    transition: color 0.3s ease;
    background-color: #d19d6c;
}
.button-hover-white:hover {
    transition: color 0.3s ease;
    color: #e5e5e5;
}
.button-hover-secondary:hover {
    transition: color 0.3s ease;
    color: #d9a777;
}

/* PRODUCTS */

.img-product-1 {
    width: 200px;
    height: 200px;
    margin-top: -30px;
    transform: translateY(40px);
}
.card-description-1 {
    width: 260px;
}
.name{
    margin-bottom: 5px !important;
}

/* ------------------------------------------ */

@media (max-width: 992px) {
    
    /* FORMAT */
    
    .section-1 {
        height: 630px !important;
    }
    .section-2 {
        height: 400px !important;
    }
    .section-3 {
        height: 450px !important;
    }

    /* BACKGROUNDS*/

    #bg-cup {
        background-image: url(../background/bg-cup-sm.jpg);
    }
    #bg-product {
        background-image: url(../img/products/product-template-sm.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    #bg-coffee {
        background-image: url(../background/bg-coffee-sm.jpg);
    }#bg-coffee-bag {
        background-image: url(../background/bg-coffee-bag-sm.jpg);
    }
    .bg-img-2 {
        height: 400px;
    }

    /* CAROUSEL */

    #carousel-1 {
        height: 400px;
    }
    .carousel-img {
        object-fit: cover;
        object-position: center;
        height: 400px;
        width: 100%;
    }

    /* BUTTONS */

    .carousel button:hover {
        transition: color 0.3s ease;
        background-color: #d19d6c;
    }

    /* PRODUCTS */

    .img-product-1 {
        width: 150px;
        height: 150px;
        margin-top: 0px;
        transform: translateY(30px);
    }
    .card-description-1 {
        width: 200px;
    }

    /* EMAIL INPUT */

    .input-home {
        width: 325px;
        height: 35%;
        font-size: 14px;
    }
    
}

/* ------------------------------------------ */

@media (max-width: 575px) {
    
    /* FORMAT */
    
    .section-1 {
        height: 485px !important;
        padding-top: 90px;
    }
    .section-2 {
        height: 350px !important;
    }
    .section-3 {
        height: 360px !important;
    }

    /* BACKGROUDS */

    #bg-cup {
        background-image: url(../background/bg-cup-xs.jpg);
    }
    #bg-product {
        background-image: url(../img/products/product-template-xs.png);
    }
    #bg-coffee {
        background-image: url(../background/bg-coffee-xs.jpg);
    }#bg-coffee-bag {
        background-image: url(../background/bg-coffee-bag-xs.jpg);
    }

    /* PRODUCTS */

    .img-product-1 {
        width: 100px;
        height: 100px;
        margin-top: -10px;
        transform: translateY(40px);
    }
    .card-description-1 {
        width: 130px;
        font-size: 14px;
    }

    /* EMAIL INPUT */

    .input-home {
        width: 250px;
        height: 30%;
        font-size: 12px;
    }

}