/* FORMAT */

html, body {
    scroll-behavior: auto !important;
}
body {
    font: Merriweather Sans;
    font-size: 22px;
    background-color: black;
    min-width: 325px;
}
.bg-black {
    background-color: black;
}
.bg-white {
    background-color: #f5f5f5;
}
.bg-1 {
    background-color: #4D331F;
}
.bg-2 {
    background-color: #E6B17E;
}
.bg-footer-3 {
    background-color: #422D1C;
}
.bg-4 {
    background-color: #ECECEC;
}
.bg-img-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.black {
    color: black;
}
.white {
    color: white;
}
.primary {
    color: #4D331F;
}
.secondary {
    color: #E6B17E;
}
.secondary-2 {
    color: #d9a777;
}
h2 {
    font-size: 75px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 28px;
}
h5{
    font-size: 15px;
}
.banner-1 {
    height: 400px !important;
    padding-top: 130px;
}
.volver-al-menu {
    font-size: 19px !important;
    font-weight: 600 !important;
}
.volver-al-menu:hover {
    color: #d9a777;
}
#no-margin {
    margin-bottom: 0 !important;
}

/* BUTTONS */

.button {
    color:#f5f5f5;
    background-color: #E6B17E;
    border: 0;
    border-radius: 4px;
    padding: 3px 15px 5px 15px;
    font-size: 18px;
    margin-top: 10px;
}
#button-2:hover {
    background-color: #4D331F;
    color: #d19d6c;
}
.button-hover:hover {
    background-color: #d9a777;
}

/* FOOTER */

footer{
    font-size: 14px;
}
#all-rights-reserved {
    font-size: 12px;
}

/* ------------------------------------------ */

@media (max-width: 992px) {
    
    /* FORMAT */

    body {
        font-size: 20px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 45px;
    }
    h4 {
        font-size: 26px;
    }
    .banner-1 {
        height: 370px !important;
    }
    .volver-al-menu {
        font-size: 17px !important;
    }

    /* FOOTER */

    footer{
        font-size: 13px;
    }
    #all-rights-reserved {
        font-size: 11px;
    }

    /* BUTTONS */

    .button {
        font-size: 16px;
    }

}

/* ------------------------------------------ */

@media (max-width: 575px) {
    
    /* FORMAT */
    
    body {
        font-size: 17px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 23px;
    }
    h5{
        font-size: 12px;
    }
    .banner-1 {
        height: 290px !important;
        padding-top: 90px;
    }
    .volver-al-menu {
        font-size: 15px !important;
    }

    /* FOOTER */

    footer{
        font-size: 12px;
    }
    #all-rights-reserved {
        font-size: 9px;
    }

    /* BUTTONS */

    .button {
        font-size: 15px;
    }

}